# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
# dependencies
/node_modules
/bower_components
/tmp
# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
*.sublime-workspace
.idea
*.sublime-project
*.DS_Store
.DS_Store
public/.DS_Store
.rbenv-gemsets
app/fixmyjs-config
*.swp
/dist
qn

/fixmyjs-config
/typings
.vscodeignore
jsconfig.json

test

dump.rdb

/public/info.json

